html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
}

.site-logo {
  height: 34px;
  width: auto;
  display: block;
}

.site-footer {
  margin-top: auto;
}
