/* Global background & text */
body {
  background-color: #FFF8F5; /* soft peach */
  color: #333333;            /* dark gray text */
}

/* Header */
header.page-header {
  background-image: none !important;   /* removes the gradient */
  background-color: #FF6F3C !important; /* your orange */
  color: #FFFFFF !important;
}

/* Header */
header.page-header.project-name a h1 {
  color: #FFFFFF !important;
}

/* Section headings */
h1, h2, h3 {
  color: #FF6F3C;
}

/* Links & buttons */
a, .btn {
  color: #1E3D59; /* navy */
}
