<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}">
    <script defer data-domain="orng.co" src="https://plausible.in091.com/js/script.js"></script>
    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <nav class="footer-nav">
          <a href="{{ '/' | relative_url }}">Home</a> •
          <a href="{{ '/about' | relative_url }}">About</a> •
          <a href="{{ '/contact' | relative_url }}">Contact</a>
        </nav>
        <div class="social-links">
          <a href="https://www.linkedin.com/company/orng-enterprises" target="_blank" aria-label="LinkedIn">
            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/linkedin.svg" alt="LinkedIn" width="20">
          </a>
          <a href="https://x.com/ORNGEnterprises" target="_blank" aria-label="X">
            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/x.svg" alt="X" width="20">
          </a>
        </div>
        <p>© 2014 - {{ site.time | date: "%Y" }} {{ site.title }} Making IT Simple • Made with ❤️ in 🇮🇳 using <a href="https://pages.github.com">GitHub Pages</a>.</p>
      </footer>
    </main>
  </body>
</html>
